*{
    --bg-primary-color: #FEFBEC;
    --primary-color: #B0DD47;
    --text-primary-color: #090702;
    --secondary-color: #F1E7B7;
    --accent-color-raw: 73, 10, 209;
    --accent-color: #490ad1;
}

.card{
    position: relative;
    margin: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.15);
}

.rounded-image {
    position: relative;
    height: 100%;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.rounded-image img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}


main{
    background-color: var(--bg-primary-color)!important;
}


.error-label{
    color: red;
    display: block;
}

.skeleton{
    position: relative;
    overflow: hidden;
    background-color: #ECECEC;

}

.skeleton:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 300%;
    height: 100%;
    background: #d1d1d1;

    transform: rotate(-45deg);
    animation: image_is_not_showing_anim 1.3s linear infinite;
    box-shadow: 0 0 100px rgba(0,0,0, 0.2);
    top: 0;
    left: -100%;
}

@keyframes image_is_not_showing_anim {
    from {
        transform: translateY(-300%) rotate(-45deg);
    }

    to {
        transform: translateY(300%) rotate(-45deg);
    }
}


