*{
    --bg-primary-color: #FEFBEC;
    --primary-color: #B0DD47;
    --text-primary-color: #090702;
    --secondary-color: #F1E7B7;
    --accent-color-raw: 73, 10, 209;
    --accent-color: #490ad1;
}

.card{
    position: relative;
    margin: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 16px;
    /*border-color: lightgray;*/
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    /*z-index: 6;*/
}

.rounded-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.rounded-image img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}


main{
    background-color: var(--bg-primary-color)!important;
}


.error-label{
    color: red;
    display: block;
}


