@page "/Feedback/{serviceId:int}"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IAnnouncementService AnnouncementService
<h3>Feedback</h3>

<div class="content">
        <div class="d-flex flex-row justify-content-center">
                <div class="card small-card">
                    @* <RadzenTextBox @bind="feedbackGood" class="w-100" /> *@
                    @* <RadzenTextBox @bind="feedbackBad" class="w-100" /> *@
                    <Stars publicRating="myRating" CurrentValueChanged="OnChange"/>
                    <p>You rated it: @myRating</p>
                    <button class="icon-button" @onclick="SubmitFeedback">
                        <span class="oi oi-trash"></span>
                    </button>
                </div>
        </div>
</div>


@code {
    private Service? service;
    [Parameter] public int serviceId { get; init; }
    private string message = "Loading...";
    private string feedbackGood = "";
    private string feedbackBad = "";
    private double myRating = 0;
    
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("we are new new");
    }
    
    private async Task SubmitFeedback()
    {
        
    }

    private void OnChange(double rating)
    {
        myRating = rating;
    }

}