@page "/"

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Pet Mixer</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A program that helps you to find somebody that can take care of your pet. Or you can be the person that can provide such a services.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Create Announcement</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">See Announcements</button>
      </div>
    </div>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img src="https://images.unsplash.com/photo-1625794084867-8ddd239946b1?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>


@code {
    
}