@page "/ManageAnnouncement/{id:int}"
@using Domain.Models
@using System.Security.Claims
@using Blazored.LocalStorage
@using BlazorWASM.Validators
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@using Newtonsoft.Json
@inject IAnnouncementService announcementService

@inject ILocalStorageService localStorageService
@attribute [Authorize]

<style>
    article{
    background-image: url("@backgroundImageUrl") !important;
}
</style>

@if (announcement == null)
{
    <label>Loading...</label>
}
else
{
    <ManageAnnouncementComponent Announcement="@announcement" OnSubmitAction="@(() => UpdateAnnouncement())" 
                                 ActionName="Save Changes" ForPage="ManageAnnouncement" />
}


@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    [Parameter]
    public int Id { get; set; }
    private Announcement? announcement;
    private PetDropDown PetList;
    private string ValidatorStyles = "position: relative; width: 20%; margin-left: auto; display: block;";
    private bool isNewPet;
    private IEnumerable<Claim>? userClaims;
    private string backgroundImageUrl;
    
    CreatePetDto createPetDto;
    
    
    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        backgroundImageUrl = await localStorageService.GetItemAsStringAsync("backgroundImage");
        ClaimsPrincipal user = authState.User;
        userClaims = user.Claims;
        string userEmail = user.Claims.FirstOrDefault(c => c.Type.Equals("Email"))!.Value;
        
        try
        {
            announcement = await announcementService.GetByIdAsync(Id);
            Console.WriteLine(JsonConvert.SerializeObject(announcement));

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        
        
    }
    
    private async Task UpdateAnnouncement()
    {
        try
        {
            UpdateAnnouncementDto dto = new UpdateAnnouncementDto(Id)
            {
                Pet = announcement!.Pet
            };

            dto = FetchDataFromAnnouncementComponent(dto);
            
            await announcementService.UpdateAsync(dto);

            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Duration = 6000,
                Detail = "Announcement is updated"
            });
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Duration = 6000,
                Detail = e.Message
            });
            
        }
    }

    private UpdateAnnouncementDto FetchDataFromAnnouncementComponent(UpdateAnnouncementDto dto)
    {
        dto.StartDate = announcement.StartDate;
        dto.EndDate = announcement.EndDate;
        dto.PostalCode = announcement.PostalCode;
        dto.ServiceDescription = announcement.ServiceDescription;
        
        //Update Pet
        dto.Pet.PetType = announcement.Pet.PetType;
        dto.Pet.PetName = announcement.Pet.PetName;
        dto.Pet.Description = announcement.Pet.Description;
        dto.Pet.Weight = announcement.Pet.Weight;
        dto.Pet.IsVaccinated = announcement.Pet.IsVaccinated;
        return dto;
    }
    
}