.notification_circle {
    display: block;
    background: #ef3939;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15);
}

.notification_number{
    font-weight: bold;
    align-content: center;
    color: white;
}