.content{
    flex-grow: 5;
}

.filter-area{
    flex-grow: 1;
}

.column {
    flex: 1;
    padding: 20px; !important;
    margin: 10px;
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .content{
        flex-direction: column;
    }
}