@page "/ViewAnnouncements"
@using HttpClients.ClientInterfaces
@using System.Collections.ObjectModel
@using Domain.DTOs
@using Domain.Models
@inject IAnnouncementService AnnouncementService

<div class="d-flex flex-row">
    <div class="sidebar filter-area">
        
    </div>
    
    <div class="content">
        @if (announcements == null)
        {
            <label>Loading...</label>
        }
        
        @foreach (var announcement in announcements!)
        {
            <AnnouncementComponent Announcement="announcement"/>
        }
    </div>
</div>

<div class="flex-wrap flex-row">
    @for (int i = 0; i < 5; i++)
    {
        <div class="rounded-image">
            <img/>
        </div>
    }
</div>


@code {
    private List<Announcement>? announcements;

    protected override async Task OnInitializedAsync()
    {
        announcements = (await AnnouncementService.GetAsync(new SearchAnnouncementDto())).ToList();
    }

}