@page "/ViewAnnouncements"
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IAnnouncementService announcementService

@* <div class="d-flex flex-row flex-wrap"> *@
@*     @foreach (var item in posts) *@
@*     { *@
@*         <div class="card" @onclick="() => OpenPost(item.postId)"> *@
@*             <h3>@item.title</h3> *@
@*             <div>@item.body</div> *@
@*             <div class="author_caption">Posted by @item.authorUsername</div> *@
@*         </div> *@
@*     } *@
@* </div> *@

@code {
    private IEnumerable<Announcement>? announcements;
    
    protected override async Task OnInitializedAsync()
    {
        SearchAnnouncementDto searchParameters = new(null, null, null, null);
        announcements  = await announcementService.GetAsync(searchParameters);
        // posts = await postService.GetAsync();
    }
}