@inject IAnnouncementService AnnouncementService
@inject IUserService UserService

@page "/CreateAnnouncement"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Domain.Models

<div class="card-box">
    <p>Fill the small form to create your announcement.</p>
    <div form-input-field>
        <label>Start date: </label>
        <input type="date" @bind="startDate"/>
    </div>
    <div form-input-field>
        <label>End date: </label>
        <input type="date" @bind="endDate"/>
    </div>
    <div form-input-field>
        <label>Postal code: </label>
        <input type="number" @bind="postalcode"/>
    </div>
    <div form-input-field>
        <label>Description: </label><br/>
        <textarea @bind="description"></textarea>
    </div>
    
    <button @onclick="TryCreateAnnouncement"></button>
</div>

@code {
    private DateTime startDate;
    private DateTime endDate;
    private string? description;
    private string? postalcode;

    public EventCallback<DateTime> StartDateChanged { get; set; }
    public EventCallback<DateTime> EndDateChanged { get; set; }

    private string? msg = "";

    protected override async Task OnInitializedAsync()
    {
        // sett up of 2-way bindings
        StartDateChanged = EventCallback.Factory.Create<DateTime>(this, value =>
        {
            startDate = value;
        });
        
        EndDateChanged = EventCallback.Factory.Create<DateTime>(this, value =>
        {
            endDate = value;
        });
        
        // initialization staf
        startDate = DateTime.Today;
        endDate = DateTime.Today.AddDays(3);
    }


    private async Task TryCreateAnnouncement()
    {
        msg = "";
        try
        {
            AnnouncementCreationDto creationDto = new AnnouncementCreationDto("emanuel.something@gmail.com", startDate, 
                endDate, "serviceDescription");
            await AnnouncementService.CreateAsync(creationDto);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        
    }
}