@inherits LayoutComponentBase
@namespace BlazorWASM.Shared
@using BlazorWASM.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <Notification/>
            <LoginButtons/>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <RadzenComponents/>
    </main>
</div>