<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PetMixer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    
    <nav class="flex-column">
        @if (Actor.Equals("PetOwner"))
        {
            <div class="nav-item">
                <NavLink class="nav-link" href="CreateAnnouncement">
                    <span class="navbar-icon material-symbols-outlined" aria-hidden="true">note_stack_add</span> Create announcement
                </NavLink>
            </div>
            
            <div class="nav-item">
                <NavLink class="nav-link" href="ViewCaretakers">
                      <span class="navbar-icon material-symbols-outlined" aria-hidden="true">groups</span> Find caretaker
                </NavLink>
            </div>
        }
        
        <div class="nav-item">
            <NavLink class="nav-link" href="ViewAnnouncements">
                 <span class="navbar-icon material-symbols-outlined" aria-hidden="true">search</span> Search announcements
            </NavLink>
        </div>
        
        <div class="nav-item">
            <NavLink class="nav-link" href="MyProfile">
                 <span class="navbar-icon material-symbols-outlined" aria-hidden="true">account_circle</span> My profile
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    [Parameter] 
    public string Actor { get; set; }
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}