.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.announcement-data{
    width: 100% !important;
    padding-left: 1rem;
}

@media all and (max-width: 950px) {
    .card{
        flex-direction: column !important;
    }
    
    .column{
        padding-inline: 0;
    }

    .rounded-image{
        width: 100% !important;
        max-width: 550px;
    }
}

.inside-card{
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fcfcfc;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
    width: 100%;
}