@using Domain.Models

<div class="card d-flex flex-row w-100">
        <div class="column">
            <div class="rounded-image">
                <img src="https://www.petspyjamas.com/uploads/2020/04/shutterstock_189642425-690x460.jpg"/>
            </div>
        </div>
        <div class="column">
            <div style="padding: 10px">
                <p>@Announcement.ServiceDescription</p>
            </div>
        </div>
</div>

@code {
    [Parameter] public Announcement Announcement { get; set; }
}