@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@inject IAuthService authService

<AuthorizeView>
    <Authorized>
        <span class="material-symbols-outlined" @onclick="Logout">logout</span>
    </Authorized>
    <NotAuthorized>
        <span class="material-symbols-outlined" @onclick="Login">login</span>
    </NotAuthorized>
</AuthorizeView>


@code {

    private void Login()
    {
        navMgr.NavigateTo("/LoginView");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

}