<h3>Stars</h3>

<div id="half-stars-example">
    <div class="rating-group">
        @* <input class="rating__input rating__input--none" checked name="rating2" id="rating2-0" value="0" type="radio"> *@
        @* <label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label> *@
         @for (int i = 1; i <= 5; i++)
            {
                <label aria-label="@(i-0.5) stars" class="rating__label rating__label--half" for="rating2-@(i*5)"><i class="rating__icon rating__icon--star fa fa-star-half" @onchange="(() => SetRating(i-0.5))"></i></label>
                <input class="rating__input" name="rating2" id="rating2-@(i*5)" value="@(i/2)" type="radio">
                <label aria-label="@(i) star" class="rating__label" for="rating2-@(i*10)"><i class="rating__icon rating__icon--star fa fa-star" @onchange="(() => SetRating(i))"></i></label>
                <input class="rating__input" name="rating2" id="rating2-@(i*10)" value="@(i)" type="radio">
            }
    </div>
</div>
@code {
    [Parameter] public EventCallback<double> RatingChanged { get; set; }
    private void SetRating(double rating)
    {
        RatingChanged.InvokeAsync(rating);
    }
}