*{
    --bg-primary-color: #FEFBEC;
    --primary-color: #B0DD47;
    --text-primary-color: #090702;
    --secondary-color: #F1E7B7;
    --accent-color: 73, 10, 209;
}

*{
    color: var(--text-primary-color);
}

button{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    width: fit-content;
}


.card{
    width: fit-content;
    padding: 10px;
    border-radius: 16px;
}

main{
    background-color: var(--bg-primary-color);
}

.form-input-field{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input{
    border-radius: 0.3rem;
    border-width: 1px;
    width: 10rem;
    background-color: rgb(232, 240, 254);
}